.Page {
    padding: 0rem 0rem;
    font-family: 'nanumsquare';
    text-align: center;
    background: white;
}::-webkit-scrollbar { 
    display: none; 
}

.Home {
    padding: 1rem 0rem;
    background: white;
}

.Home body {
    margin: 0;
    padding: 0;
}