.Page {
    padding: 7rem 0rem;
    font-family: 'nanumsquare';
    background: linear-gradient(to bottom, palevioletred, mediumpurple);
    text-align: center;
}::-webkit-scrollbar { 
    display: none; 
}

.Home {
    padding: 1rem 0rem;
    background: white;
}

.Home body {
    margin: 0;
    padding: 0;
}