.aLink {
    text-decoration: none;
    padding: 0px 1rem;
}

.activeLink {
    text-decoration: none;
    padding: 0px 1rem;
    color: palevioletred;
}

.header {
    font-family: 'NanumSquare';
    left: 0px;
    width: 100%;
    color: black;
}